<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add a Dog</title>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/addDog.css}" />
</head>

<body>
    <div id="header">
        <h2>Rent-A-Dog</h2>
     </div>

    <div id="addDogForm">
        <form method="post" th:action="@{/addDog}" th:object="${Dog}" name="add a Dog">
            <table>
                <tr>
                    <td>ID Number: </td>
                    <td><input type="text" name="idIn"></input></td>
                </tr>

                <tr>
                    <td>Name: </td>
                    <td><input type="text" name="nameIn"></input></td>
                </tr>

                <tr>
                    <td>Gender: </td>
                    <td><input type="text" name="genderIn"></input></td>
                </tr>

                <tr>
                    <td>Breed: </td>
                    <td><input type="text" name="breedIn"></input></td>
                </tr>

                <tr>
                    <td>Age: </td>
                    <td><input type="number" name="ageIn" ></input></td>
                </tr>

                <tr>
                    <td>Pictures: </td>
                    <td><input type="file" name="picturesIn" accept="image/*"/></td>
                </tr>
            </table>
            <input type="submit" id="submitButton" name="submit"/>
        </form>
    </div>
</body>
</html>