<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add a Dog</title>

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/global.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/addDog.css}" />
</head>

<body>
    <div id="header">
        <h2>Rent-A-Dog</h2>
     </div>
     <div id="navbar">
		<ul>
			<li><a th:href="@{/home}">home</a></li>
            <li>Dogs
				<ul>
					<li><a th:href="@{/addDog}">Add Dog</a></li>
					<li><a th:href="@{/getDog}">Get Dog</a></li>
					<li><a th:href="@{/allDogs}">All Dogs</a></li>
					<li><a th:href="@{/rentDog}">Reserve a Dog</a></li>
				</ul>
			</li>
			<li>Clients:
                <ul>
					<li><a th:href="@{/addClient}">Add Client</a></li>
					<li><a th:href="@{/getClient}">Get Client</a></li>
				</ul>
			</li>
		</ul>
	</div>

    <div id="addDogForm">
        <form method="post" th:action="@{/addDog}" th:object="${Dog}" name="add a Dog" enctype="multipart/form-data">
            <table>
                <tr>
                    <td>ID Number: </td>
                    <td><input type="text" name="idIn" th:field="*{idNumber}"></input></td>
                </tr>

                <tr>
                    <td>Name: </td>
                    <td><input type="text" name="nameIn" th:field="*{name}"></input></td>
                </tr>

                <tr>
                    <td>Gender: </td>
                    <td><input type="text" name="genderIn" th:field="*{gender}"></input></td>
                </tr>

                <tr>
                    <td>Breed: </td>
                    <td><input type="text" name="breedIn" th:field="*{breed}"></input></td>
                </tr>

                <tr>
                    <td>Age: </td>
                    <td><input type="number" name="ageIn" th:field="*{age}"></input></td>
                </tr>

                <tr>
                    <td>Available: </td>
                    <td><input type="checkbox" name="available" th:field="*{available}" checked/></td>
                </tr>

                <tr>
                    <td>Pictures: </td>
                    <td><input type="file" name="picturesIn" accept="image/*"/></td>
                </tr>
            </table>
            <input type="submit" id="submitButton" name="submit"/>
        </form>
    </div>
</body>
</html>
